.commande {
    max-width: 1400px;
    margin: auto;
    padding: 40px 20px;
}
.client-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
}
.panier {
    flex: 1;
    background-color: var(--sable);
    padding: 35px;
    padding-left: 30px;
    margin-top: 40px;              
    border-radius: 6px;            
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}
.btn-secondary {
    width: 100%;
    padding: 12px;
    background-color: var(--marron);
    color: var(--creme);
    border: none;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.comment-group textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid var(--marron-clair);
    background-color: var(--creme);
    resize: none;
    outline: none;
}
